@model LatestTask.Models.Company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
